/***************
** ADMINISTRATION
***************/
section#admin {
    background-image: url(../images/pexels-miguel-á-padriñán-255379.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 100vh;
    margin: 0;

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 60px;
        height: 100%;

        div.item {
            border-radius: 25%;
            border: 3px solid $amaranth;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #049DBF;
            animation: growAnimation 1.5s ease-in-out forwards;

            @keyframes growAnimation {
                0% {
                    width: 0;
                    height: 0;
                    box-shadow: none;
                    transform: scale(0) rotate(0deg);
                    opacity: 0;
                }

                50% {
                    border-radius: 100%;
                    box-shadow: none;
                }

                100% {
                    width: 200px;
                    height: 200px;
                    opacity: 1;
                    transform: scale(1) rotate(360deg);
                    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
                    opacity: 1;
                }
            }

            a {
                text-decoration: none;
                color: #333;
                margin-top: 0;
                padding: 0 1.5em;
                text-align: center;
                font-size: 1.2rem;
                font-family: "catseye", sans-serif;
                font-weight: 700;
                font-style: normal;
                transition: color 0.3s ease;

                &:hover {
                    color: white;
                }
            }
        }
    }
}

/***************
** ADMIN/ACTUALITÉS
***************/

section#admin-actualites {
    margin: 1rem auto 0;
    max-width: 75%;

    h1 {
        margin-bottom: 1rem;
    }

    div.conteneur-create {
        display: flex;
        justify-content: space-between;

        a.btn-create {
            display: inline-block;
            background-color: #007b00;
            color: #fff;
            padding: 0.5em 1em;
            margin-bottom: 0.8rem;
            min-width: 140px;
            text-decoration: none;
            border: none;
            border-radius: 7px;
            font-size: 1.2rem;
            font-family: "catseye", sans-serif;
            font-weight: 700;
            font-style: normal;
            text-align: center;
        }

        a.btn-retour {
            display: inline-block;
            background-color: #f39f0e;
            color: #fff;
            padding: 0.5em 1em;
            margin-bottom: 0.8rem;
            min-width: 140px;
            text-decoration: none;
            border: none;
            border-radius: 7px;
            font-size: 1.2rem;
            font-family: "catseye", sans-serif;
            font-weight: 700;
            font-style: normal;
            text-align: center;
        }
    }

    p {
        padding: 40px 24px 40px 24px;
        line-height: 25px;
    }

    ul {

        li {
            background-color: #f8cfed;
            border-radius: 10px;
            border: 2px solid $rose;
            box-shadow: 0 0 20px #f8cfed;
            margin-bottom: 2rem;
            padding: 20px;

            h2 {
                margin-bottom: 1.5rem;
                font-size: 1.75rem;
                color: black;
            }

            div.conteneur-boutons {
                display: flex;
                justify-content: center;
                gap: 20px;

                a {
                    background-color: #007bff;
                    color: #fff;
                    padding: 0.5em 1em;
                    margin-right: 10px;
                    min-width: 140px;
                    text-decoration: none;
                    border: none;
                    border-radius: 7px;
                    font-size: 1.2rem;
                    font-family: "catseye", sans-serif;
                    font-weight: 700;
                    font-style: normal;
                    text-align: center;
                }
            }

            form {
                display: inline-block;
                margin: 0;

                button {
                    background-color: #dc3545;
                    color: #fff;
                    padding: 0.5em 1em;
                    text-decoration: none;
                    min-width: 140px;
                    border: none;
                    border-radius: 7px;
                    font-size: 1.2rem;
                    font-family: "catseye", sans-serif;
                    font-weight: 700;
                    font-style: normal;
                    text-align: center;
                    cursor: pointer;
                }
            }
        }
    }
}


/***************
** ADMIN/Activités
***************/

section#admin-activites {
    margin: 1rem auto 0;
    max-width: 75%;

    h1 {}

    div.conteneur-create {
        display: flex;
        justify-content: space-between;

        a.btn-create {
            display: inline-block;
            background-color: #007b00;
            color: #fff;
            padding: 0.5em 1em;
            margin-bottom: 0.8rem;
            min-width: 140px;
            text-decoration: none;
            border: none;
            border-radius: 7px;
            font-size: 1.2rem;
            font-family: "catseye", sans-serif;
            font-weight: 700;
            font-style: normal;
            text-align: center;
        }

        a.btn-retour {
            display: inline-block;
            background-color: #f39f0e;
            color: #fff;
            padding: 0.5em 1em;
            margin-bottom: 0.8rem;
            min-width: 140px;
            text-decoration: none;
            border: none;
            border-radius: 7px;
            font-size: 1.2rem;
            font-family: "catseye", sans-serif;
            font-weight: 700;
            font-style: normal;
            text-align: center;
        }
    }

    p {
        padding: 50px 24px 50px 24px;
        line-height: 25px;

    }

    ul {

        li {
            background-color: #f8cfed;
            border-radius: 10px;
            border: 2px solid $rose;
            box-shadow: 0 0 20px #f8cfed;
            margin-bottom: 2rem;
            padding: 20px;

            h2 {
                margin-bottom: 1.5rem;
                font-size: 1.75rem;
                color: black;
            }

            div.conteneur-activites {
                display: flex;
                justify-content: space-between;
            }

            div.conteneur-boutons {
                display: flex;
                justify-content: center;

                a {
                    background-color: #007bff;
                    color: #fff;
                    padding: 0.5em 1em;
                    margin-right: 10px;
                    min-width: 140px;
                    text-decoration: none;
                    border: none;
                    border-radius: 7px;
                    font-size: 1.2rem;
                    font-family: "catseye", sans-serif;
                    font-weight: 700;
                    font-style: normal;
                    text-align: center;

                }
            }

            form {
                display: inline-block;
                margin: 0;

                button {
                    background-color: #dc3545;
                    color: #fff;
                    padding: 0.5em 1em;
                    text-decoration: none;
                    min-width: 140px;
                    border: none;
                    border-radius: 7px;
                    font-size: 1.2rem;
                    font-family: "catseye", sans-serif;
                    font-weight: 700;
                    font-style: normal;
                    text-align: center;
                    cursor: pointer;
                }
            }
        }
    }
}

/***************
** ADMIN/ACTUALITÉS/CREATE
***************/
section#admin-create-actualite {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 100vh;
    margin: 0;
    background-image: url(../images/pexels-miguel-á-padriñán-255379.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    h1 {
        font-size: 2rem;
        margin: 0 0 1rem;
    }

    div.actualite-form {
        width: 35vw;
        margin: 0 auto;

        form {
            background: rgb(217, 160, 201);
            background: linear-gradient(0deg, rgba(217, 160, 201, 1) 0%, rgba(242, 179, 224, 1) 20%, rgba(255, 213, 243, 1) 50%, rgba(242, 179, 224, 1) 80%, rgba(217, 160, 201, 1) 100%);
            margin: 0 auto 5px;
            padding: 50px 0;
            border-radius: 7px;

            div.titre,
            div.description {
                width: 75%;
                margin: 0 auto 0.8rem;

                label {
                    display: block;
                    text-align: left;
                    font-weight: 700;
                    margin: 0 0 5px 0;
                }

                input {
                    width: 100%;
                    background-color: #fff;
                    color: #000;
                    height: 40px;
                    font-size: 1rem;
                    border: 1px solid #E0DFE6;
                    border-radius: 7px;
                    padding: 10px;
                    box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.25);
                }

                textarea {
                    width: 100%;
                    background-color: #fff;
                    color: #000;
                    font-size: 1rem;
                    border: 1px solid #E0DFE6;
                    border-radius: 7px;
                    padding: 10px;
                    box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.25);
                }

            }

            div.submit-create {
                margin-top: 3rem;
                text-align: center;

            }
        }

        p.retour-actualite {
            text-align: center;

            a {
                text-decoration: underline;
            }
        }

    }
}


/***************
** ADMIN/ACTIVITÉS/CREATE
***************/
section#admin-create-activite {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 100vh;
    margin: 0;
    background-image: url(../images/pexels-miguel-á-padriñán-255379.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    h1 {
        font-size: 2rem;
        margin: 0 0 1rem;
    }

    div.activite-form {
        width: 35vw;
        margin: 0 auto;

        form {
            background: rgb(217, 160, 201);
            background: linear-gradient(0deg, rgba(217, 160, 201, 1) 0%, rgba(242, 179, 224, 1) 20%, rgba(255, 213, 243, 1) 50%, rgba(242, 179, 224, 1) 80%, rgba(217, 160, 201, 1) 100%);
            margin: 0 auto 5px;
            padding: 50px 0;
            border-radius: 7px;

            div.nom,
            div.description,
            div.image {
                width: 75%;
                margin: 0 auto 0.8rem;

                label {
                    display: block;
                    text-align: left;
                    font-weight: 700;
                    margin: 0 0 5px 0;
                }

                input {
                    width: 100%;
                    background-color: #fff;
                    color: #000;
                    height: 40px;
                    font-size: 1rem;
                    border: 1px solid #E0DFE6;
                    border-radius: 7px;
                    padding: 10px;
                    box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.25);
                }

                textarea {
                    width: 100%;
                    background-color: #fff;
                    color: #000;
                    font-size: 1rem;
                    border: 1px solid #E0DFE6;
                    border-radius: 7px;
                    padding: 10px;
                    box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.25);
                }

            }

            div.submit-create {
                margin-top: 3rem;
                text-align: center;

            }
        }

        p.retour-activite {
            text-align: center;

            a {
                text-decoration: underline;
            }
        }

    }
}


/***************
** ADMIN/ACTUALITÉS/MODIFIER
***************/
section#admin-modifier-actualite {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 100vh;
    margin: 0;
    background-image: url(../images/pexels-miguel-á-padriñán-255379.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    h1 {
        font-size: 2rem;
        margin: 0 0 1rem;
    }

    div.modifier-form {
        width: 35vw;
        margin: 0 auto;

        form {
            background: rgb(217, 160, 201);
            background: linear-gradient(0deg, rgba(217, 160, 201, 1) 0%, rgba(242, 179, 224, 1) 20%, rgba(255, 213, 243, 1) 50%, rgba(242, 179, 224, 1) 80%, rgba(217, 160, 201, 1) 100%);
            margin: 0 auto 5px;
            padding: 50px 0;
            border-radius: 7px;

            div.titre,
            div.description {
                width: 75%;
                margin: 0 auto 0.8rem;

                label {
                    display: block;
                    text-align: left;
                    font-weight: 700;
                    margin: 0 0 5px 0;
                }

                input {
                    width: 100%;
                    background-color: #fff;
                    color: #000;
                    height: 40px;
                    font-size: 1rem;
                    border: 1px solid #E0DFE6;
                    border-radius: 7px;
                    padding: 10px;
                    box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.25);
                }

                textarea {
                    width: 100%;
                    background-color: #fff;
                    color: #000;
                    font-size: 1rem;
                    border: 1px solid #E0DFE6;
                    border-radius: 7px;
                    padding: 10px;
                    box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.25);
                }

            }

            div.submit-modifier {
                margin-top: 3rem;
                text-align: center;

            }
        }

        p.retour-actualite {
            text-align: center;

            a {
                text-decoration: underline;
            }
        }

    }
}


/***************
** ADMIN/ACTIVITÉS/MODIFIER
***************/
section#admin-modifier-activite {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 100vh;
    margin: 0;
    background-image: url(../images/pexels-miguel-á-padriñán-255379.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    h1 {
        font-size: 2rem;
        margin: 0 0 1rem;
    }

    div.activite-modifier {
        width: 35vw;
        margin: 0 auto;

        form {
            background: rgb(217, 160, 201);
            background: linear-gradient(0deg, rgba(217, 160, 201, 1) 0%, rgba(242, 179, 224, 1) 20%, rgba(255, 213, 243, 1) 50%, rgba(242, 179, 224, 1) 80%, rgba(217, 160, 201, 1) 100%);
            margin: 0 auto 5px;
            padding: 50px 0;
            border-radius: 7px;

            div.nom,
            div.description,
            div.image {
                width: 75%;
                margin: 0 auto 0.8rem;

                label {
                    display: block;
                    text-align: left;
                    font-weight: 700;
                    margin: 0 0 5px 0;
                }

                input {
                    width: 100%;
                    background-color: #fff;
                    color: #000;
                    height: 40px;
                    font-size: 1rem;
                    border: 1px solid #E0DFE6;
                    border-radius: 7px;
                    padding: 10px;
                    box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.25);
                }

                textarea {
                    width: 100%;
                    background-color: #fff;
                    color: #000;
                    font-size: 1rem;
                    border: 1px solid #E0DFE6;
                    border-radius: 7px;
                    padding: 10px;
                    box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.25);
                }

            }

            div.submit-modifier {
                margin-top: 3rem;
                text-align: center;

            }
        }

        p.retour-activite {
            text-align: center;

            a {
                text-decoration: underline;
            }
        }

    }
}
