/***************
** ADMINISTRATION
***************/
section#admin {
    background-image: url(../images/bg-formulaire.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 100vh;
    margin: 0;

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        height: 100%;

        .item {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: $noir;
            background-color: #049DBF;
            padding: 0 1em;
            font-size: 1.2rem;
            font-family: "catseye", sans-serif;
            font-weight: 700;
            font-style: normal;
            border: 3px solid $amaranth;
            border-radius: 15px;
            cursor: pointer;
            animation: growAnimation 1.5s ease-in-out forwards;

            &:hover {
                background-color: darken(#049DBF, 10%);
            }

            @keyframes growAnimation {
                0% {
                    width: 0;
                    height: 0;
                    box-shadow: none;
                    transform: scale(0) rotate(0deg);
                    opacity: 0;
                }

                50% {
                    border-radius: 100%;
                    box-shadow: none;
                }

                100% {
                    width: 275px;
                    height: 275px;
                    opacity: 1;
                    transform: scale(1) rotate(360deg);
                    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
                    opacity: 1;
                }
            }
        }
    }
}

/***************
** ADMIN/UTILISATEURS
***************/
section#admin-administrateurs,
section#admin-employes,
section#admin-clients {

    width: 90%;
    max-width: 1440px;

    div.conteneur-create {
        display: flex;
        justify-content: space-between;
    }

    div.conteneur-boutons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        i.fa-trash-alt {
            color: red;
            cursor: pointer;
        }
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin: 0.8rem auto;
        font-size: 1rem;
        text-align: center;

        th,
        td {
            border: 1px solid #ccc;
            padding: 10px;
        }

        th {
            background-color: $violet;
            color: $blanc;
        }

        tr:nth-child(even) {
            background-color: $gris;
        }

        tr:hover {
            background-color: $rose-fonce;
        }
    }
}

/***************************
** ADMIN/UTILISATEUR/MODIFIER
****************************/
section#admin-modifier-utilisateur {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 100vh;
    margin: 0;
    background-image: url(../images/bg-formulaire.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    h1 {
        font-size: 2rem;
        margin: 0 0 1rem;
    }

    div.modifier-utilisateur {
        width: 50%;
        margin: 0 auto;

        form {
            background: rgb(217, 160, 201);
            background: linear-gradient(0deg, rgba(217, 160, 201, 1) 0%, rgba(242, 179, 224, 1) 20%, rgba(255, 213, 243, 1) 50%, rgba(242, 179, 224, 1) 80%, rgba(217, 160, 201, 1) 100%);
            margin: 0 auto 5px;
            padding: 3em 0;
            border-radius: 7px;

            div.input {
                width: 75%;
                margin: 0 auto 0.8rem;
            }

            div.submit {
                margin-top: 2rem;
                text-align: center;
            }
        }

        div.retour {
            text-align: center;
            margin-top: 0.8rem;

            a {
                text-decoration: underline;
            }
        }
    }
}

/***************
** ADMIN/ACTIVITÉS
***************/
section#admin-activites {
    margin: 1rem auto 0;
    max-width: 75%;

    div.conteneur-create {
        display: flex;
        justify-content: space-between;
    }

    p {
        padding: 50px 24px 50px 24px;
        line-height: 25px;
    }

    ul {
        margin-top: 0.8rem;

        li {
            background-color: #f8cfed;
            border-radius: 10px;
            border: 2px solid $rose;
            box-shadow: 0 0 20px #f8cfed;
            margin-bottom: 2rem;
            padding: 20px;

            h2 {
                margin-bottom: 1.5rem;
                font-size: 1.75rem;
                color: black;
            }

            div.conteneur-activites {
                display: flex;
                justify-content: space-between;
            }

            div.conteneur-boutons {
                display: flex;
                justify-content: center;

                a {
                    background-color: #007bff;
                    color: #fff;
                    padding: 0.5em 1em;
                    margin-right: 10px;
                    min-width: 140px;
                    text-decoration: none;
                    border: none;
                    border-radius: 7px;
                    font-size: 1.2rem;
                    font-family: "catseye", sans-serif;
                    font-weight: 700;
                    font-style: normal;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            form {
                display: inline-block;
                margin: 0;

                button {
                    background-color: #dc3545;
                    color: #fff;
                    padding: 0.5em 1em;
                    text-decoration: none;
                    min-width: 140px;
                    border: none;
                    border-radius: 7px;
                    font-size: 1.2rem;
                    font-family: "catseye", sans-serif;
                    font-weight: 700;
                    font-style: normal;
                    text-align: center;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}

/***********************
** ADMIN/ACTIVITÉS/CREATE
************************/
section#admin-create-activite {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 100vh;
    margin: 0;
    background-image: url(../images/bg-formulaire.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    h1 {
        font-size: 2rem;
        margin: 0 0 1rem;
    }

    div.ajouter-activite {
        width: 50%;
        margin: 0 auto;

        form {
            background: rgb(217, 160, 201);
            background: linear-gradient(0deg, rgba(217, 160, 201, 1) 0%, rgba(242, 179, 224, 1) 20%, rgba(255, 213, 243, 1) 50%, rgba(242, 179, 224, 1) 80%, rgba(217, 160, 201, 1) 100%);
            margin: 0 auto 5px;
            padding: 3em 0;
            border-radius: 7px;

            div.input,
            div.textarea {
                width: 75%;
                margin: 0 auto 0.8rem;
            }

            div.submit {
                margin-top: 2rem;
                text-align: center;
            }
        }

        div.retour {
            text-align: center;
            margin-top: 0.8rem;

            a {
                text-decoration: underline;
            }
        }
    }
}

/*************************
** ADMIN/ACTIVITÉS/MODIFIER
**************************/
section#admin-modifier-activite {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 100vh;
    margin: 0;
    background-image: url(../images/bg-formulaire.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    h1 {
        font-size: 2rem;
        margin: 0 0 1rem;
    }

    div.modifier-activite {
        width: 50%;
        margin: 0 auto;

        form {
            background: rgb(217, 160, 201);
            background: linear-gradient(0deg, rgba(217, 160, 201, 1) 0%, rgba(242, 179, 224, 1) 20%, rgba(255, 213, 243, 1) 50%, rgba(242, 179, 224, 1) 80%, rgba(217, 160, 201, 1) 100%);
            margin: 0 auto 5px;
            padding: 3em 0;
            border-radius: 7px;

            div.input,
            div.textarea {
                width: 75%;
                margin: 0 auto 0.8rem;
            }

            div.img-activite {
                display: flex;
                align-items: center;

                img {
                    width: 100px;
                    margin-right: 1rem;
                }
            }

            div.submit {
                margin-top: 2rem;
                text-align: center;
            }
        }

        div.retour {
            text-align: center;
            margin-top: 0.8rem;

            a {
                text-decoration: underline;
            }
        }
    }
}

/***************
** ADMIN/ACTUALITÉS
***************/
section#admin-actualites {
    margin: 1rem auto 0;
    max-width: 75%;

    h1 {
        margin-bottom: 1rem;
    }

    div.conteneur-create {
        display: flex;
        justify-content: space-between;
    }

    p {
        padding: 40px 24px 40px 24px;
        line-height: 25px;
    }

    ul {
        margin-top: 0.8rem;

        li {
            background-color: #f8cfed;
            border-radius: 10px;
            border: 2px solid $rose;
            box-shadow: 0 0 20px #f8cfed;
            margin-bottom: 2rem;
            padding: 20px;

            h2 {
                margin-bottom: 1.5rem;
                font-size: 1.75rem;
                color: black;
            }

            div.conteneur-boutons {
                display: flex;
                justify-content: center;
                gap: 20px;

                a {
                    background-color: #007bff;
                    color: #fff;
                    padding: 0.5em 1em;
                    margin-right: 10px;
                    min-width: 140px;
                    text-decoration: none;
                    border: none;
                    border-radius: 7px;
                    font-size: 1.2rem;
                    font-family: "catseye", sans-serif;
                    font-weight: 700;
                    font-style: normal;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            form {
                display: inline-block;
                margin: 0;

                button {
                    background-color: #dc3545;
                    color: #fff;
                    padding: 0.5em 1em;
                    text-decoration: none;
                    min-width: 140px;
                    border: none;
                    border-radius: 7px;
                    font-size: 1.2rem;
                    font-family: "catseye", sans-serif;
                    font-weight: 700;
                    font-style: normal;
                    text-align: center;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}

/************************
** ADMIN/ACTUALITÉS/CREATE
*************************/
section#admin-create-actualite {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 100vh;
    margin: 0;
    background-image: url(../images/bg-formulaire.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    h1 {
        font-size: 2rem;
        margin: 0 0 1rem;
    }

    div.ajouter-actualite {
        width: 50%;
        margin: 0 auto;

        form {
            background: rgb(217, 160, 201);
            background: linear-gradient(0deg, rgba(217, 160, 201, 1) 0%, rgba(242, 179, 224, 1) 20%, rgba(255, 213, 243, 1) 50%, rgba(242, 179, 224, 1) 80%, rgba(217, 160, 201, 1) 100%);
            margin: 0 auto 5px;
            padding: 3em 0;
            border-radius: 7px;

            div.input,
            div.textarea {
                width: 75%;
                margin: 0 auto 0.8rem;
            }

            div.submit {
                margin-top: 2rem;
                text-align: center;
            }
        }

        div.retour {
            text-align: center;
            margin-top: 0.8rem;

            a {
                text-decoration: underline;
            }
        }
    }
}

/**************************
** ADMIN/ACTUALITÉS/MODIFIER
***************************/
section#admin-modifier-actualite {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 100vh;
    margin: 0;
    background-image: url(../images/bg-formulaire.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    h1 {
        font-size: 2rem;
        margin: 0 0 1rem;
    }

    div.modifier-actualite {
        width: 50%;
        margin: 0 auto;

        form {
            background: rgb(217, 160, 201);
            background: linear-gradient(0deg, rgba(217, 160, 201, 1) 0%, rgba(242, 179, 224, 1) 20%, rgba(255, 213, 243, 1) 50%, rgba(242, 179, 224, 1) 80%, rgba(217, 160, 201, 1) 100%);
            margin: 0 auto 5px;
            padding: 3em 0;
            border-radius: 7px;

            div.input,
            div.textarea {
                width: 75%;
                margin: 0 auto 0.8rem;
            }

            div.submit {
                margin-top: 2rem;
                text-align: center;
            }
        }

        div.retour {
            text-align: center;
            margin-top: 0.8rem;

            a {
                text-decoration: underline;
            }
        }
    }
}

/***************
** ADMIN/RÉSERVATIONS
***************/
section#admin-reservations {
    width: 90%;
    max-width: 1440px;

    h1 {
        font-size: 3rem;
        margin-bottom: 1.1rem;
        margin-top: 1.1rem;
        color: $rose-fonce;
        text-align: center;
    }

    div {
        text-align: right;
    }

    p.message {
        text-align: center;
        margin-top: 1rem;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin: 0.8rem auto;
        font-size: 1rem;
        text-align: center;

        th,
        td {
            border: 1px solid #ccc;
            padding: 10px;
        }

        th {
            background-color: $violet;
            color: $blanc;
            font-weight: bold;
        }

        tr:nth-child(even) {
            background-color: $gris;
        }

        tr:hover {
            background-color: $rose-fonce;
        }

        button.btn-annuler {
            display: inline-block;
            background-color: #dc3545;
            color: #fff;
            padding: 0.5em 0.5em;
            text-decoration: none;
            border: none;
            border-radius: 7px;
            font-size: 0.8rem;
            font-family: "catseye", sans-serif;
            font-weight: 700;
            font-style: normal;
            text-align: center;
            cursor: pointer;

            &:hover {
                background-color: darken(#dc3545, 10%);
            }
        }
    }
}
