/***************
** ACCUEIL
***************/



/***************
** ACTIVITÉS
***************/

section#activites {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem auto;
    width: 75%;

    .activite {
        display: flex;
        margin-bottom: 3rem;
        max-width: 100%;

        .image {
            margin-right: 2.5rem;
        }

        .texte {
            display: flex;
            flex-direction: column;
            max-width: 100%;

            h2 {
                text-align: left;
            }

            p {
                padding-top: 0.938em;
            }
        }
    }
}

.activites .activite:nth-child(even) {
    flex-direction: row-reverse;

    .image {
        margin-left: 2.5rem;
    }
}

/***************
** FORFAITS
***************/

section#forfaits {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem auto;
    width: 75%;

    .forfaits-top {
        max-width: 100%;
        margin-bottom: 3.75rem;

        .p1 {
            margin-top: 3rem;
        }

        .p2 {
            margin-top: 1.563rem;
        }
    }

    .forfait {
        display: flex;
        margin-bottom: 3rem;
        margin-top: 3rem;
        max-width: 100%;
        height: 25.313rem;
        border-radius: 15px;
        border: 25px solid;

        .details {
            padding: 2.5em 3.889em 6.667em 2.5em;

            span {
                font-weight: bold;
            }
        }

        &:first-child {
            background-color: rgba(85, 56, 115, 0.2);
            border: 25px solid $violet;
        }

        &:nth-child(2) {
            background-color: rgba(242, 179, 224, 0.2);
            border: 25px solid $rose;
        }

        &:last-child {
            background-color: rgba(4, 157, 191, 0.2);
            border: 25px solid $bleu;
        }

        h3 {
            text-align: left;
            margin-bottom: 0.8333rem;
        }

        .p-description {
            margin-bottom: 2rem;
        }

        .duree-p {
            margin: 0.555rem 0rem 0.555rem 0rem;
        }

        .commander {
            text-align: center;
            margin-top: 3rem;
        }

        .image {
            padding: 2.889em 5.278em 7em 0em;
        }
    }
}

/***************
** RÉSERVATIONS
***************/

section#reservations {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem auto;
    width: 75%;

    .reservations-bg {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 7px;
        background: rgb(217, 160, 201);
        background: linear-gradient(0deg, rgba(217, 160, 201, 1) 0%, rgba(242, 179, 224, 1) 20%, rgba(255, 213, 243, 1) 50%, rgba(242, 179, 224, 1) 80%, rgba(217, 160, 201, 1) 100%);
        padding: 3em;
        width: 50%;

        .details {
            margin-bottom: 1.5rem;

            h3 {
                text-align: left;
                margin-bottom: 0.8333rem;
            }

            .duree-p {
                margin: 0.555rem 0rem 0.555rem 0rem;
            }

            span {
                font-weight: bold;
            }
        }

        form {
            max-width: 400px;
            margin: 0 auto;

            .date {
                margin-bottom: 20px;

                label {
                    display: block;
                    margin-bottom: 5px;
                    font-weight: bold;
                    color: $amaranth;
                }

                select {
                    width: 100%;
                    padding: 10px;
                    border: 1px solid $gris;
                    border-radius: 5px;
                    font-size: 1rem;
                }
            }
        }
    }
}

/***************
** À PROPOS
***************/

section#apropos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem auto;
    width: 75%;

    .apropos-top {
        max-width: 100%;
        margin-bottom: 3.75rem;

        p {
            margin-top: 2.5rem;
        }
    }

    .apropos-textes {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;

        .apropos-texte1 {
            display: flex;
            margin-bottom: 3.125rem;

            .apropos-image {
                margin-left: 2.5rem;
                order: 1;
            }

            .texte1 {
                display: flex;
                flex-direction: column;
                order: 0;

                h2 {
                    text-align: left;
                }

                p {
                    padding-top: 0.938em;
                }
            }
        }

        .apropos-texte2 {
            display: flex;
            margin-top: 3.125rem 0 5rem 0;
            max-width: 100%;

            .apropos-image {
                margin-right: 2.5rem;
                order: 0;
            }

            .texte1 {
                display: flex;
                flex-direction: column;
                order: 1;

                h2 {
                    text-align: left;
                }

                p {
                    padding-top: 0.938em;
                }
            }
        }
    }
}

/***************
** NOUS JOINDRE
***************/

.contact {
    padding: 20px;
    max-width: 1440px;
    width: 75%;
    margin: auto;

    h2 {
        margin-bottom: 2.2rem;
    }

    .date {
        margin-top: 10px;
        display: flex;
        justify-content: space-around;

        div {
            text-align: center;

            h3,
            p {
                margin-bottom: 0.8rem;
            }

            p.tx-lg {
                font-weight: bold;
            }
        }
    }
}

.adresse {
    padding: 20px;
    max-width: 1440px;
    width: 75%;
    margin: 20px auto;

    .contenu-adresse {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        h2 {
            margin-bottom: 2.2rem;
        }

        p {
            margin-bottom: 0.5rem;
        }

        p.tx-lg {
            font-weight: bold;
        }
    }
}

.carte {
    background-color: $bleu;
    padding: 20px;
    border: 1px solid $bleu;
    border-radius: 7px;
    max-width: 1440px;
    width: 75%;
    margin: 20px auto;

    iframe {
        width: 100%;
        height: 450px;
    }
}

/***************
** ERREUR 403
***************/
