/***************
** ACCUEIL
***************/



/***************
** ACTIVITÉS
***************/



/***************
** FORFAITS
***************/



/***************
** RÉSERVATIONS
***************/



/***************
** À PROPOS
***************/



/***************
** NOUS JOINDRE
***************/
.contact {
    padding: 20px;
    width: 1200px;
    margin: auto;

    h2 {
        color: $rose-fonce;
        margin-bottom: 2.2rem;
    }

    .date {
        margin-top: 10px;
        display: flex;
        justify-content: space-around;

        div {
            text-align: center;

            h3,
            h4,
            p.tx-lg {
                margin-bottom: 0.8rem;
            }
        }
    }
}

.adresse {
    padding: 20px;
    width: 1200px;
    margin: 20px auto;

    .contenu-adresse {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        h2 {
            color: $rose-fonce;
            margin-bottom: 2.2rem;
        }
        h4,
        p.tx-lg {
            margin-bottom: 0.5rem;
        }
    }
}

.cart {
    background-color: $bleu;
    padding: 20px;
    border: 1px solid $bleu;
    width: 1200px;
    margin: 20px auto;

    iframe {
        width: 100%;
        height: 450px;
        border: 0;
    }
}

