/***************
** ACCUEIL
***************/

div.conteneur-accueil {
    h1 {
        display: none;
    }

    section#countdown {}

    section#carrousel-images {

        .imgBoite {
            width: 83.33%;
            margin: 2.75rem auto 1rem;

            img {
                width: 100%;
                border-radius: 7px;
                box-shadow: 5px 5px 25px rgba(0, 0, 0, .5);
            }
        }

        ul {
            margin: 0rem auto;
            padding: 0em;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 83.33%;

            li {
                list-style: none;
                margin-right: 1rem;

                &:last-child {
                    margin-right: 0;
                }
            }

            img {
                width: 100%;
                border-radius: 7px;
                box-shadow: 5px 5px 25px rgba(0, 0, 0, .5);
            }
        }

        section#carrousel-actualites {
            max-width: 100%;
            padding: 2.25rem;
            background: rgb(217, 160, 201);
            background: linear-gradient(0deg, rgba(217, 160, 201, 1) 0%, rgba(242, 179, 224, 1) 20%, rgba(255, 213, 243, 1) 50%, rgba(242, 179, 224, 1) 80%, rgba(217, 160, 201, 1) 100%);

            swiper-container {
                max-width: 1440px;
                margin-top: 1.75rem;

                swiper-slide {
                    margin-right: 1.75rem;
                    margin-bottom: 0.5rem;
                    padding: 1.35rem;
                    background-color: $blanc;
                    border-radius: 7px;
                    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);

                    h3 {
                        color: $noir;
                        text-align: left;
                    }

                    p.date {
                        margin: 0.55rem 0 0.85rem 0;
                    }

                    div.separation {
                        height: 3px;
                        background-color: $bleu;
                    }

                    p.description {
                        margin-top: 0.85rem;
                    }
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    section#partenaires {

        div.partenaires {
            display: flex;
            justify-content: center;
            gap: 5rem;
            margin-top: 2.75rem;

            img {
                width: 150px;
            }
        }
    }
}

/***************
** ACTIVITÉS
***************/

section#activites {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;

    ul {
        display: flex;
        flex-direction: column;

        li {
            display: flex;
            align-items: center;
            margin-bottom: 2.75rem;

            img {
                width: 100%;
                height: 100%;
                margin-right: 2.5rem;
            }

            div {
                display: flex;
                flex-direction: column;

                h2 {
                    text-align: left;
                }

                p {
                    margin-top: 0.85rem;
                }
            }

            &:nth-child(even) {
                flex-direction: row-reverse;

                img {
                    margin-left: 2.5rem;
                    margin-right: 0;
                }
            }
        }
    }
}

/***************
** FORFAITS
***************/

section#forfaits {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;

    div.intro {
        h2 {
            margin-bottom: 2.75rem;
        }

        p {
            margin-bottom: 1.25rem;

            &:last-child {
                margin-bottom: 2.75rem;
            }
        }
    }

    ul {
        display: flex;
        flex-direction: column;

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 2.75rem;
            padding: 1.25rem;
            border: 1.25rem solid;
            border-radius: 7px;

            &:first-child {
                background-color: rgba($violet, 0.2);
                border-color: $violet;
            }

            &:nth-child(2) {
                background-color: rgba($rose, 0.2);
                border-color: $rose;
            }

            &:last-child {
                background-color: rgba($bleu, 0.2);
                border-color: $bleu;
            }

            div.conteneur {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 1.35rem;

                div.details {
                    margin-right: 3.75rem;

                    h3 {
                        text-align: left;
                        margin-bottom: 0.85rem;
                    }

                    p {
                        margin-bottom: 0.55rem;

                        span {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}

/***************
** RÉSERVATIONS
***************/

section#reservations {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem auto;
    width: 75%;

    .reservations-bg {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 7px;
        background: rgb(217, 160, 201);
        background: linear-gradient(0deg, rgba(217, 160, 201, 1) 0%, rgba(242, 179, 224, 1) 20%, rgba(255, 213, 243, 1) 50%, rgba(242, 179, 224, 1) 80%, rgba(217, 160, 201, 1) 100%);
        padding: 3em;
        width: 50%;

        .details {
            margin-bottom: 1.5rem;

            h3 {
                text-align: left;
                margin-bottom: 0.8333rem;
            }

            .duree-p {
                margin: 0.555rem 0rem 0.555rem 0rem;
            }

            span {
                font-weight: bold;
            }
        }

        form {
            max-width: 400px;
            margin: 0 auto;

            .date {
                margin-bottom: 20px;

                label {
                    display: block;
                    margin-bottom: 5px;
                    font-weight: bold;
                    color: $amaranth;
                }

                select {
                    width: 100%;
                    padding: 10px;
                    border: 1px solid $gris;
                    border-radius: 5px;
                    font-size: 1rem;
                }
            }
        }
    }
}

/***************
** À PROPOS
***************/

section#apropos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem auto;
    width: 75%;

    .apropos-top {
        max-width: 100%;
        margin-bottom: 3.75rem;

        p {
            margin-top: 2.5rem;
        }
    }

    .apropos-textes {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;

        .apropos-texte1 {
            display: flex;
            margin-bottom: 3.125rem;

            .apropos-image {
                margin-left: 2.5rem;
                order: 1;
            }

            .texte1 {
                display: flex;
                flex-direction: column;
                order: 0;

                h2 {
                    text-align: left;
                }

                p {
                    padding-top: 0.938em;
                }
            }
        }

        .apropos-texte2 {
            display: flex;
            margin-top: 3.125rem 0 5rem 0;
            max-width: 100%;

            .apropos-image {
                margin-right: 2.5rem;
                order: 0;
            }

            .texte1 {
                display: flex;
                flex-direction: column;
                order: 1;

                h2 {
                    text-align: left;
                }

                p {
                    padding-top: 0.938em;
                }
            }
        }
    }
}

/***************
** NOUS JOINDRE
***************/

.contact {
    padding: 20px;
    max-width: 1440px;
    width: 75%;
    margin: auto;

    h2 {
        margin-bottom: 2.2rem;
    }

    .date {
        margin-top: 10px;
        display: flex;
        justify-content: space-around;

        div {
            text-align: center;

            h3,
            p {
                margin-bottom: 0.8rem;
            }

            p.tx-lg {
                font-weight: bold;
            }
        }
    }
}

.adresse {
    padding: 20px;
    max-width: 1440px;
    width: 75%;
    margin: 20px auto;

    .contenu-adresse {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        h2 {
            margin-bottom: 2.2rem;
        }

        p {
            margin-bottom: 0.5rem;
        }

        p.tx-lg {
            font-weight: bold;
        }
    }
}

.carte {
    background-color: $bleu;
    padding: 20px;
    border: 1px solid $bleu;
    border-radius: 7px;
    max-width: 1440px;
    width: 75%;
    margin: 20px auto;

    iframe {
        width: 100%;
        height: 450px;
    }
}

/***************
** ERREUR 403
***************/

section#erreur-403 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;

    h1 {
        font-size: 3rem;
        margin-bottom: 2.5rem;
    }

    h2 {
        font-size: 2rem;
        margin-bottom: 3.5rem;
    }
}


/***************
** PANIER
***************/

h1.client {
    font-size: 2rem;
    margin-bottom: 1.1rem;
    margin-top: 1.1rem;
    color: $rose-fonce;
    text-align: center;
}

p.message {
    text-align: center;
}

table {
    width: 70%;
    border-collapse: collapse;
    margin: 1.1rem auto;
    font-size: 1rem;
    text-align: center;

    th,
    td {
        border: 1px solid #ccc;
        padding: 10px;
    }

    th {
        background-color: $violet;
        color: $blanc;
        font-weight: bold;
    }

    tr:nth-child(even) {
        background-color: $gris;
    }

    tr:hover {
        background-color: $rose-fonce;
    }
}
