/***************
** CONNEXION
***************/

section#connexion {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 100vh;
    margin: 0;
    background-image: url(../images/bg-formulaire.jpg);
    background-size: cover;
    background-repeat: no-repeat;


    h1 {
        font-size: 1.75rem;
        margin: 0 0 1rem;

    }

    div.form-connexion {
        width: 35vw;
        margin: 0 auto;

        form {
            background: rgb(217, 160, 201);
            background: linear-gradient(0deg, rgba(217, 160, 201, 1) 0%, rgba(242, 179, 224, 1) 20%, rgba(255, 213, 243, 1) 50%, rgba(242, 179, 224, 1) 80%, rgba(217, 160, 201, 1) 100%);
            margin: 0 auto 5px;
            padding: 50px 0;
            border-radius: 7px;

            div.input {
                width: 75%;
                margin: 0 auto 0.8rem;
            }

            div.submit-connexion {
                margin-top: 3rem;
                text-align: center;
            }
        }

        p.compte {
            text-align: center;

            a {
                text-decoration: underline;
            }
        }
    }
}


/***************
** ENREGISTREMENT
***************/
section#enregistrement {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 100vh;
    margin: 0;
    background-image: url(../images/bg-formulaire.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    h1 {
        font-size: 1.75rem;
        margin: 0 0 1rem;
    }

    div.form-enregistrement {
        width: 35vw;
        margin: 0 auto;

        form {
            background: rgb(217, 160, 201);
            background: linear-gradient(0deg, rgba(217, 160, 201, 1) 0%, rgba(242, 179, 224, 1) 20%, rgba(255, 213, 243, 1) 50%, rgba(242, 179, 224, 1) 80%, rgba(217, 160, 201, 1) 100%);
            margin: 0 auto 5px;
            padding: 50px 0;
            border-radius: 7px;

            div.input {
                width: 75%;
                margin: 0 auto 0.8rem;
            }

            div.role{
                width: 75%;
                margin: 0 auto 0.8rem;

                label {
                    display: block;
                    text-align: left;
                    font-weight: 700;
                    margin: 0 0 5px 0;
                }

            }

            div.submit-enregistrement {
                margin-top: 3rem;
                text-align: center;
            }
        }

        p.compte {
            text-align: center;

            a {
                text-decoration: underline;
            }
        }
    }
}
