    h4.employe {
        font-size: 1.5rem;
        margin-bottom: 1.1rem;
        margin-top: 1.1rem;
        color: $rose-fonce;
        text-align: center;
    }

    table {
        width: 70%;
        border-collapse: collapse;
        margin: 1.1rem auto;
        font-size: 1rem;
        text-align: center;

        th,
        td {
            border: 1px solid #ccc;
            padding: 10px;
        }

        th {
            background-color: $violet;
            color: $blanc;
            font-weight: bold;
        }

        tr:nth-child(even) {
            background-color: $gris;
        }

        tr:hover {
            background-color: $rose-fonce;
        }
    }
