/***************
** FOOTER
***************/
footer {
    background-color: $violet;
    padding: 2.22em 1.11em 1.11em;

    ul.liens-pages {
        display: flex;
        justify-content: center;

        li {
            margin-left: 2.22rem;
            text-align: center;
            transition: all 0.3s ease-in-out;

            &:first-child {
                margin-left: 0rem;
            }
        }
    }

    div.logo-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1.66rem;
    }

    ul.liens-sociaux {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1.66rem;

        li {
            margin-left: 2.22rem;

            &:first-child {
                margin-left: 0rem;
            }
        }
    }

    p {
        color: $blanc;
        text-align: center;
        margin-top: 1.66rem;
    }
}

@media screen and (max-width: 430px) {
    footer {
        padding: 1.5em 0.55em 0.55em;

        ul.liens-pages {

            li {
                margin-left: 1.33rem;

                a.lien {
                    font-size: 0.66rem;
                }

                &:first-child {
                    margin-left: 0rem;
                }
            }
        }

        ul.liens-sociaux {

            li {
                margin-left: 0.75rem;

                img {
                    width: 65%;
                    height: 65%;
                }
            }
        }

        p.tx-sm {
            font-size: 0.5rem;
            margin-top: 1.33rem;
        }
    }
}
