/***************
** BOUTONS
***************/

.btn-primaire {
    color: $rose;
    background-color: $amaranth;
    width: 255px;
    padding: 0.5em 0;
    border-radius: 7px;
    font-size: 1.2rem;
    font-family: "catseye", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    box-shadow: inset 0 -33px 33px #80325B;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: $rose-fonce;
        background-color: $amaranth-fonce;
        box-shadow: inset 0 -33px 33px darken(#80325B, 10%);
    }
}

/***************
** INPUTS
***************/

div.input {

    label {
        display: block;
        text-align: left;
        font-weight: 700;
        margin: 0 0 5px 0;
    }

    input {
        width: 100%;
        background-color: $blanc;
        color: $noir;
        height: 40px;
        font-size: 1rem;
        border: 1px solid $gris;
        border-radius: 7px;
        padding: 10px;
        box-shadow: inset 0 4px 5px rgba(0, 0, 0, 0.25);
    }

    input::placeholder {
        opacity: 0.75;
    }
}

/***************
** MESSAGES D'ERREURS FORMULAIRES
***************/

.form-msg-erreur {
    text-align: left;
    color: #DC2626;
    font-weight: 400;
    font-style: italic;
    margin: 0px 0px 5px 5px;
}
