/***************
** BOUTONS
***************/
.btn-primaire {
    color: $rose;
    background-color: $amaranth;
    min-width: 255px;
    padding: 0.5em 1em;
    border: none;
    border-radius: 7px;
    font-size: 1.2rem;
    font-family: "catseye", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
        color: $rose-fonce;
        background-color: $amaranth-fonce;
    }
}

a.btn-create {
    background-color: #3caf3c;
    color: #fff;
    padding: 0.5em 1em;
    min-width: 140px;
    text-decoration: none;
    border: none;
    border-radius: 7px;
    font-size: 1.2rem;
    font-family: "catseye", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    cursor: pointer;

    &:hover {
        background-color: darken(#3caf3c, 10%);
    }
}

a.btn-retour {
    display: inline-block;
    background-color: #f39f0e;
    color: #fff;
    padding: 0.5em 1em;
    min-width: 140px;
    text-decoration: none;
    border: none;
    border-radius: 7px;
    font-size: 1.2rem;
    font-family: "catseye", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    cursor: pointer;

    &:hover {
        background-color: darken(#f39f0e, 10%);
    }
}

/***************
** INPUTS
***************/
div.input {

    label {
        display: block;
        text-align: left;
        font-weight: 700;
        margin: 0 0 5px 0;
    }

    input {
        width: 100%;
        background-color: $blanc;
        color: $noir;
        height: 40px;
        font-size: 1rem;
        border: 1px solid $gris;
        border-radius: 7px;
        padding: 10px;
        box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.25);
    }

    input::placeholder {
        opacity: 0.75;
    }
}

@media screen and (max-width: 430px) {
    .btn-primaire {
        min-width: 100%;
        font-size: 0.95rem;
        font-weight: 500;
    }

    div.input {

        label {
            display: block;
            text-align: left;
            font-size: 0.75rem;
            margin: 0 0 3px 0;
        }

        input {
            max-width: 100%;
            height: 24px;
            font-size: 1rem;
        }

        input::placeholder {
            font-size: 0.62rem;
        }
    }
}

/***************
** MESSAGES D'ERREURS FORMULAIRES
***************/
.form-msg-erreur {
    text-align: left;
    color: #DC2626;
    font-weight: 400;
    font-style: italic;
    margin: 0px 0px 5px 5px;
}

/***************
** MESSAGES SUCCÈS ET ÉCHECS
***************/
div.conteneur-alerte {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    animation: popUp 2s ease-in-out, fadeOut 1s 4s forwards;

    @keyframes popUp {
        0% {
            transform: scale(0.5);
            opacity: 0;
        }

        50% {
            transform: scale(1.05);
            opacity: 1;
        }

        100% {
            transform: scale(1);
            opacity: 1;
        }
    }

    @keyframes fadeOut {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
            display: none;
        }
    }

    div.alerte {
        max-width: 28rem;
        padding: 0.25rem;
        border-radius: 7px;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

        p.texte-alerte {
            padding: 0.25rem;
        }
    }

    .succes {
        background-color: #6ee7b7;
        color: #047857;
    }

    .echec {
        background-color: #fc8181;
        color: #972c25;
    }
}
