@import "_reset.scss";

/***************
** BOILERPLATE
***************/

$blanc: #fff;
$noir: #000;
$gris: #E0DFE6;
$violet: #553873;
$rose: #F2B3E0;
$rose-fonce: darken($rose, 10%);
$amaranth: #A54177;
$amaranth-fonce: darken($amaranth, 10%);
$bleu: #049DBF;
$bleu-fonce: darken($bleu, 10%);

html {
    font-size: 18px;
    font-family: "montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    color: $noir;
    background-color: $blanc;
    box-sizing: border-box;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/***************
** GÉNÉRAL
***************/

h1,
h2,
h3 {
    font-family: "catseye", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: $amaranth;
}

h1 {
    font-size: 3.55rem;
    text-align: center;
}

h2 {
    font-size: 2.55rem;
    text-align: center;
}

h3 {
    font-size: 1.75rem;
    text-align: center;
}

a {
    text-decoration: none;
}

section {
    max-width: 1440px;
    margin-top: 4.45rem;
}

.lien {
    color: $rose;
    font-family: "catseye", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.2rem;

    &:hover {
        color: $rose-fonce;
    }
}

.tx-sm {
    font-size: 0.85rem;
    font-family: "montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.tx-md {
    font-size: 1.2rem;
    font-family: "montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.tx-lg {
    font-size: 1.45rem;
    font-family: "montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.tx-xl {
    font-size: 1.75rem;
    font-family: "montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.tx-xxl {
    font-size: 2.15rem;
    font-family: "montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@import "_client.scss";
@import "_admin.scss";
@import "_utils.scss";
@import "_nav.scss";
@import "_header.scss";
@import "_infolettre.scss";
@import "_footer.scss";
@import "_question.scss";
